<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Task</title>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/add-task.css">

    <script src="../assets/js/mini_backend.js"></script>

    <script src="../assets/js/main.js"> </script>
    <script src="../assets/js/backlog.js"> </script>
    <script src="../assets/js/add-task.js"> </script>
    <script src="../assets/js/board.js"> </script>
    <script>setURL('http://gruppe-186.developerakademie.net/smallest_backend_ever');</script>
    <script src="../assets/js/toggle-button.js"></script>
    <title>Gruppenarbeit</title>
</head>

<body onload="loadTasks(), includeHTML()">

    <div w3-include-html="../views/nav.html"></div>
    <div class="bg">

        

        <div class="add-task">

            <h2>Add Task</h2>

            <form onsubmit="addTask(); return false" class="task-container">

                <div class="column1">
                    <div class="column2">
                        <b>Titel</b>
                        <input type="text" class="input" id="title" required>
                    </div>
                    <div class="column2">
                        <b>Kategorie</b>
                        <select class="input" id="category" type="text" placeholder="Kategorie">
                            <option hidden></option>
                            <option>Marketing</option>
                            <option>Development</option>
                            <option>Design</option>
                        </select>
                    </div>
                    <div class="column2">
                        <b>Beschreibung</b>
                        <textarea style="resize: none;" class="input" id="description" cols="30" rows="8" class="text"
                            required></textarea>
                    </div>
                </div>

                <div class="column1">
                    <div class="column2">
                        <b>Bis zum</b>
                        <input class="input" type="date" name="Date" id="due-date" required>
                    </div>
                    <div class="column2">
                        <b>Dringlichkeit</b>
                        <select class="input" id="ungency" required>
                            <option hidden></option>
                            <option>Normal</option>
                            <option>Hoch</option>
                            <option>Sehr hoch</option>
                        </select>
                    </div>
                    <div class="column2">
                        <b>Zuteilen an</b>
                        <select class="input" id="assigned" placeholder="Zuteilen an" required>
                            <option hidden></option>
                            <option>Andrea Böhme</option>
                            <option>Sebastian Schwill</option>
                            <option>Roland Vas</option>
                        </select>
                    </div>
                    <div class="button">
                        <button type="submit">In Backlog speichern</button>
                    </div>

                    <div id="Save">
                    </div>

                </div>

            </form>



        </div>
    </div>


</body>

</html>