<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backlog</title>
    <link rel="stylesheet" href="../assets/css/nav.css">
    <link rel="stylesheet" href="../assets/css/reset.css">

    <script src="../assets/js/imprint.js"> </script>
    <script src="../assets/js/board.js"> </script>
    <script src="../assets/js/help.js"> </script>
</head>

<body onload="includeHTML()">

    <div w3-include-html="../views/nav.html"></div>


</body>

</html>