<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backlog</title>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/backlog.css">
    <link rel="stylesheet" href="../assets/css/add-task.css">

    <script src="../assets/js/mini_backend.js"></script>
    <script src="../assets/js/main.js"> </script>
    <script src="../assets/js/add-task.js"> </script>
    <script src="../assets/js/backlog.js"> </script>
    <script src="../assets/js/board.js"> </script>
    <script>setURL('http://gruppe-186.developerakademie.net/smallest_backend_ever');</script>

</head>

<body onload="initBacklog(), includeHTML()">

    <div w3-include-html="../views/nav.html"></div>

    <div class="backlog-container">
        <h2>Backlog</h2>
        <table class="table">
            <tbody>
                <tr class="table-head">
                    <th>Titel</th>
                    <th>Kategorie</th>
                    <th>Dringlichkeit</th>
                    <th></th>
                </tr>
            </tbody>
            <tbody id="backlogTasks"></tbody>
        </table>
    </div>



</body>

</html>