body {
    font-family: 'PT Sans', sans-serif;
    display: flex;
    align-items: center;
}

span {
    font-weight: bold;
    font-size: 20px;
    color: #1e3190;
}

.board-container {
    display: flex;
    height: 100%;
    margin-top: 50px;
    margin-left: 100px;
}

.statusOfTask {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status {
    flex-basis: 100%;
    flex-grow: 1;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.status-item {
    width: 250px;
    background-color: #f4f3fb;
    min-height: 600px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px;
}

.tasks {
    border: 1px solid grey;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    min-width: 200px;
    border-color: #1e3190;
    color: #1e3190;
}

.drag-area-highlight {
    background-color: rgba(0, 0, 0, 0.2);
}