<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imprint</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/imprint.css">
</head>

<body onload="includeHTML()">
    <div w3-include-html="nav.html"></div>
    <div class="imprint-container">
        <h1>Impressum</h1>
        <p>Angaben gemäß § 5 TMG</p>
        <p>Max Muster</p>
        <p>Musterweg</p>
        <p>12345 Musterstadt</p><br>
        <p><b>Vertreten durch:</b></p>
        <p>Max Muster</p><br>
        <p><b>Kontakt:</b></p>
        <p>Telefon: 01234-789456</p>
        <p>Fax: 1234-56789</p>
        <p>E-Mail: max@muster.de</p>
    </div>
<!-- TODO script kommt aus dem body raus -->
    <script src="../assets/js/imprint.js"></script>

</body>

</html>