<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../assets/css/login.css">
    <link rel="stylesheet" href="../assets/css/reset.css">

    <script src="../assets/js/login.js"> </script>
    <title>Document</title>
</head>
<body>
    <div class="login-bg center">

        <div class="login center column">
            <img class="logo" src="../assets/img/logo.png">

            <div class="login-input center column">
                <div class="input column">
                    <span class="text" >Name:</span>
                    <input id="username" type="text" >
                </div>

                <div class="input column">
                    <span class="text" >Password:</span>
                    <input id="password" type="password">
                </div>

                <button onclick="login()" class="btn">Login</button>
                
            </div>
 
                <span >Login as guast: </span> 
                    Name: User <br>
                    Password: 1234
                
        </div>

    </div>
</body>
</html>