.backlog-task-container{
    background-color: rgba(128, 128, 128, 0.171);
    border-radius: 15px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 12px;
}

button{
    border: none;
    background-color: var(--clr-main);
    width: auto;
    height: auto;
    color: white;
    border-radius: 8px;
    padding: 8px;
    font-family: 'PT Sans', sans-serif;
    cursor: pointer;
}

button:hover {
    background-color: #5D5DEA;
}

.backlog-container {
    margin: 16px;
    margin-left: 200px;
    margin-right: 50px;
}

.backlog-container h2 {
    color: darkblue;
    margin-bottom: 32px;
    margin-top: 32px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.table-head{
    color: darkblue;
    font-size: 20px;
    text-align: left;    
}

.table-content {
    background-color: rgb(238,242,255);
    text-align: left; 
    font-size: 16px;
}

th {
    padding: 8px;
}

td {
    padding: 8px;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td:hover {
    text-overflow: clip;
    white-space: normal;
    word-break: break-all;
}

td:nth-child(7) {
    text-align: end;
    max-width: 300px;
}

tr:nth-child(even){
    background-color: #D6DEFF;
}

.green {
    border-left: solid 4px #298030;
}

.red {
    border-left: solid 4px red;
}

.yellow {
    border-left: solid 4px #E9D758;
}

@media(max-width: 1045px) {
    
    .backlog-container {
        margin: 16px;
        margin-left: 180px;
        margin-right: 45px;
    }

    .table-head{
        font-size: 16px;  
    }
    
    .table-content {
        font-size: 12px;
    }
}

@media(max-width: 890px) {
    
    .backlog-container {
        margin-left: 150px;
        margin-right: 35px;
    }
}

@media(max-width: 625px) {
    
    .backlog-container {
        margin-left: 20px !important;
    }
}