body {/* TODO kann weg body gibt es in reset.css */
    font-family: 'PT Sans', sans-serif; /* TODO kann in die reset.css rein*/
    display: flex;/* TODO das kann weg, wenn du die reset.css einbindest in die board.html kannst du die Klasse flex benutzen. kein/nie doppelten code benutzen wegen wartung*/
    align-items: center;/* TODO das kann nach reset.css in die Utility class, als .align-Items{align-items: center;} in der board.html als klasse benutzten*/
}

span {
    font-weight: bold;
    font-size: 20px;
    color: #1e3190;
}

.board-container {
    display: flex; /* TODO das ist in der reset.css*/
    height: 100%;
    margin-top: 50px;
    margin-left: 100px;
}

.statusOfTask { /*TODO  das kann komplett weg und die Passenden class in reset.css erstellen oder in der board.html benutzen*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status {
    flex-basis: 100%;
    flex-grow: 1;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center; /* TODO als klasse in der reset.css in Utility class machen .text-align{text-align: center;}*/
}

.status-item {
    width: 250px;
    background-color: #ececec;
    min-height: 600px;
    border-radius: 20px;
    display: flex; /* TODO als klasse benutzen aus reset.css*/
    align-items: center; /* TODO als klasse benutzen aus reset.css oder erstellen in boarder.html benutzen*/
    flex-direction: column;/* TODO als klasse benutzen aus reset.css oder erstellen in boarder.html benutzen*/
    margin-top: 20px;
    padding: 10px;
}

.tasks {
    border: 1px solid grey;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    min-width: 200px;
    border-color: #1e3190;
    color: #1e3190;
}

.drag-area-highlight {
    background-color: rgba(0, 0, 0, 0.2);
}