span {
    font-weight: bold;
    font-size: 20px;
    color: var(--clr-main);
}

.board-container {
    margin-left: 200px;
}

.statusOfTask {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.status {
    flex-basis: 100%;
    flex-grow: 1;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.status-item {
    width: 250px;
    background-color: rgb(238,242,255);
    min-height: 600px;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px;
}

.tasks {
    border: 1px solid var(--clr-grey);
    background-color: var(--clr-white);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    min-width: 200px;
    border-color: var(--clr-main);
    color: var(--clr-main);
}

.drag-area-highlight {
    background-color: var(--clr-rgba);
}

.task-items {
    padding: 10px;
}

.delete-icon {
    height: 12px;
    width: 12px;
    cursor: pointer;
}

.edit-icon {
    height: 12px;
    width: 12px;
    cursor: pointer;
}

.changeText {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 550px;
    height: 700px;
    border: 1px solid var(--clr-grey);
    background-color: var(--clr-main);
    border-radius: 10px;
    border-width: 2px;
    margin: 24px;
    min-width: 200px;
    border-color: var(--clr-main);
    color: var(--clr-white);
}

.white-text{
    color: white;
    text-align: start;
    display: flex;
    justify-content: space-between;
}

.inputfields {
    width: 90%;
    padding: 16px;
    color: var(--clr-main);
}

.inputfields input {
    width: 250px;
    height: 35px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: var(--clr-main);
    margin-bottom: 25px;
    margin-left: 5px;
    padding: 5px;
}

.inputfields select {
    width: 250px;
    height: 35px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: var(--clr-main);
    margin-bottom: 25px;
    margin-left: 5px;
    padding: 5px;
}

.inputfields textarea {
    border-radius: 10px;
    font-size: 16px;
    color: var(--clr-main);
    margin-bottom: 25px;
    margin-left: 5px;
    padding: 5px;
}

.change-button {
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    background-color: var(--clr-white);
    color: var(--clr-main);
    height: 40px;
    width: 80px;
    padding: 5px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 15px;
    border-width: 2px;
    border: 2px solid var(--clr-main);
    font-weight: bold;
}

.close-button {
    position: absolute;
    top: -12px;
    right: -12px;
    text-align: center;
    background-color: var(--clr-white);
    color: var(--clr-main);
    height: 25px;
    width: 25px;
    border-radius: 10px;
    font-size: 13px;
    cursor: pointer;
    border-width: 2px;
    border: 2px solid var(--clr-main);
    font-weight: bold;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: var(--clr-rgba);
    opacity: 1;
    display: block;
    background-position: center;
    background-size: 30px;
    padding-right: 10px;
    width: 25px;
    height: 25px;
    border-width: thin;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
}

.change-div {
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}

@media(max-width: 1200px) {
    .board-container {
        margin-left: 160px;
    }
    
    .status {
        margin-left: 4px;
        margin-right: 4px;
    }
    
    .status-item {
        width: 230px;
    }
}

@media(max-width: 1170px) {
    .board-container {
        margin-left: 160px;
    }
    
    .status {
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .status-item {
        width: 210px;
    }

    .tasks {
        padding: 5px;
        margin: 5px;
        min-width: 180px;
    }

    .delete-icon {
        height: 10px;
        width: 10px;
    }
    
    .edit-icon {
        height: 10px;
        width: 10px;
    }
}

@media(max-width: 1100px) {
    .board-container {
        margin-left: 150px;
    }
    
    .status-item {
        width: 200px;
    }

    .tasks {
        min-width: 160px;
        font-size: 12px;
    }

}

@media(max-width: 1080px) {
    .board-container {
        margin-left: 150px;
    }
    
    .status-item {
        width: 180px;
    }

    .tasks {
        min-width: 140px;
        font-size: 12px;
    }
}

@media(max-width: 960px) {
    .board-container {
        margin-left: 150px;
    }
    
    .status-item {
        width: 160px;
    }

    .tasks {
        min-width: 140px;
        font-size: 12px;
    }
}

@media(max-width: 860px) {
    .board-container {
        margin-left: 150px;
    }
    
    .status-item {
        width: 140px;
    }

    .tasks {
        min-width: 130px;
        font-size: 12px;
    }
}

@media(max-width: 780px) {
    
    .statusOfTask {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .status-item {
        width: 550px;
        min-height: 300px;
    }
}

@media(max-width: 715px) {
    
    .status-item {
        width: 500px;
        min-height: 250px;
    }
}

@media(max-width: 660px) {
    
    .status-item {
        width: 450px;
        min-height: 200px;
    }
}

@media(max-width: 625px) {
    
    .board-container {
        margin-left: 20px !important;
    }
}