span {
    font-weight: bold;
    font-size: 20px;
    color: var(--clr-main);
}

.board-container {
    margin-left: 200px;
}

.status {
    flex-basis: 100%;
    flex-grow: 1;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.status-item {
    width: 250px;
    background-color: rgb(238,242,255);
    min-height: 600px;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px;
}

.tasks {
    border: 1px solid var(--clr-grey);
    background-color: var(--clr-white);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    min-width: 200px;
    border-color: var(--clr-main);
    color: var(--clr-main);
}

.drag-area-highlight {
    background-color: var(--clr-rgba);
}

.task-items {
    padding: 10px;
}

.delete-icon {
    height: 12px;
    width: 12px;
    cursor: pointer;
}

.edit-icon {
    height: 12px;
    width: 12px;
    cursor: pointer;
}

.changeText {
    position: absolute;
    top: 168px;
    left: 450px;
    width: 450px;
    height: 350px;
    border: 1px solid var(--clr-grey);
    background-color: rgb(238,242,255);
    border-radius: 10px;
    border-width: 2px;
    padding: 10px;
    min-width: 200px;
    border-color: var(--clr-main);
    color: var(--clr-main);
}

.inputfields {
    position: absolute;
    top: 50px;
    left: 100px;
    z-index: 1;
}

.inputfields input {
    width: 250px;
    height: 35px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: var(--clr-main);
    text-align: center;
    margin-bottom: 25px;
}

.inputfields select {
    width: 250px;
    height: 35px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: var(--clr-main);
    text-align: center;
    margin-bottom: 25px;
}

.change-button {
    position: absolute;
    z-index: 1;
    top: 280px;
    left: 200px;
    justify-content: flex-end;
    text-align: center;
    background-color: var(--clr-white);
    color: var(--clr-main);
    height: 32px;
    width: 55px;
    padding: 5px;
    border-radius: 10px;
    font-size: 13px;
    cursor: pointer;
    margin-top: 15px;
    border-width: 2px;
    border: 2px solid var(--clr-main);
    font-weight: bold;
}

.close-button {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 400px;
    justify-content: flex-end;
    text-align: center;
    background-color: var(--clr-white);
    color: var(--clr-main);
    height: 25px;
    width: 25px;
    border-radius: 10px;
    font-size: 13px;
    cursor: pointer;
    border-width: 2px;
    border: 2px solid var(--clr-main);
    font-weight: bold;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: var(--clr-rgba);
    opacity: 1;
    display: block;
    background: url(assets/img/icons8-calendar-150.png) no-repeat;
    background-position: center;
    background-size: 30px;
    padding-right: 10px;
    width: 25px;
    height: 25px;
    border-width: thin;
    cursor: pointer;
}