h2{
    margin-top: 50px;
}

.help-container{
    margin-top: 100px;
    margin-left: 250px;
    color: var(--clr-main);
}

@media(max-width: 750px) {
    
    .help-container {
        margin-left: 10%;
        margin-right: 10%;
    }
}