h1{
    margin-bottom: 20px;
}

.imprint-container{
    margin-top: 100px;
    margin-left: 250px;
    color: var(--clr-main);
}

@media(max-width: 750px) {
    
    .imprint-container {
        margin-left: 10%;
    }
}